body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  box-sizing: border-box;
  background: linear-gradient(to right, #34e8dd, #15658f);
  background-repeat: no-repeat;
  background-size: cover;
}

.github-heading .user-img {
  display: block;
  height: 100px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.github-heading {
  align-items: center !important;
  text-align: center;
}

.github-heading h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.8s, color 0.8s;
  display: inline;
  color : wheat;
  /* box-shadow: #002244; */
}

.github-heading h1:hover {
  margin-top: 15px;
  background-color: #8842f051  ;
  box-shadow:  5px 5px 5px 7px #002244 ;
  color: wheat ;
}


.user-input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #34e8dd, #15658f);
  border-image-slice: 1;
}

.user-input:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #34e8dd;
  font-weight: 700;
}

.user-input:required,
.user-input:invalid {
  box-shadow: none;
}


.user-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color:gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.user-input::placeholder {
  color: gray;
}

.user-input:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.user-input-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(68, 131, 149);
}

